<div class="card">
  <div class="card-header">
    Dados da Seleção
  </div>
  <div class="card-body">
    <table>
      <tr>
        <td><input name="nome"  title="Nome" placeholder="* Nome" type="text" class="form-control form-control-sm " id="nome"> </td>
        <td><input name="email"  title="E-mail" placeholder="* e-mail" type="text" class="form-control form-control-sm " id="email"> </td>
        <td><input name="idade"  title="Idade" placeholder="Idade" type="text" class="form-control form-control-sm" style="width: 100px" id="nome"></td>
      </tr>
      <tr>
        <td><input name="cpf"  title="Cpf" placeholder="Cpf" type="text" class="form-control form-control-sm " id="cpf"> </td>
        <td><input name="site"  title="Site" placeholder="* Site" type="text" class="form-control form-control-sm " id="site"> </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <label>Sexo</label>
          
        </td>
        <td><input name="profissao"  title="Profissao" placeholder="Profissão" type="text" class="form-control form-control-sm " id="profissao"> </td>
        <td></td>
      </tr>
    </table>
  </div>
</div>